<!doctype html>
<html lang="{{ site.data.metadata.language }}" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed">

<head>
  <meta charset="utf-8">
  <title>{{ site.data.metadata.title }}</title>
  <meta name="description" content="{{ site.data.metadata.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.ico" sizes="any">

  <link rel="stylesheet" href="assets/css/primer.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
</head>

<body class="p-3">
  <main class="container-md">
    {% include profile.html %}
    {% include interests.html %}
    {% include links.html %}
    {% include footer.html %}
  </main>
</body>

</html>